body {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}

#Navbar {
  background-color: rgb(4, 134, 190);
}

#Navbar .navbar-brand {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

#Navbar .nav-link {
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}
#Navbar .nav-link:hover {
  color: rgb(201, 198, 198);
  transition: 0.3s;
}
